<div class="container">
  <h1 class="text-center mt-5 mb-4">Tabela Verdade - Conjunção (E)</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">A</th>
          <th class="text-center">B</th>
          <th class="text-center">A E B</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of truthTable">
          <td class="text-center">{{row[0]}}</td>
          <td class="text-center">{{row[1]}}</td>
          <td class="text-center">{{row[2]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
